
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
    background: rgb(233, 246, 236);
    height: 100px;
    color: #258f23;
}
.navMenu a{
    max-width: 15vw;
    color: rgb(22, 26, 22);
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    transition: 0,4s;
}
.navMenu a:hover{
    color: #258f23;
}
.navContenedor{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100px;
    border-radius: 100%;   
}
.navLabel, .navInput{
    display: none;
}
.navMenu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}


@media (max-width: 700px){
    .navLabel{
        font-size: 30px;
        display: block;
        cursor: pointer;

    }
    .navMenu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #96c895;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        
    }
    .navInput:checked + .navMenu{
        clip-path: circle(100% at center);
    }
    #huerta{
        flex-direction: column;
    }
}

.consejo {
    display: inline;
    gap: 1em;
    padding: 1em;
}

p{
    display: grid;
    justify-content: space-between;
    padding: 5em;
    width: 25em;
    height: 25em;
}