*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 1rem;
    height: 100%; /*usa todo el contenedor*/
}

body,header,main,footer{
    min-height: 50px;
    margin: 0.5rem ; /*uso medida relativa por los distintos dispositivos */
    min-width: 400px;
}

body {
    background: #fff;
    font-family: "Lato",sans-serif;
    color: black;
    font-size: 14px;
}

main{
    min-height: 200px;
    overflow: auto;
    
}

.iframeGoogle{
  text-align: left;
}


footer a img{
    width: 30px;
    height: auto;
    margin: 10px;
    
}

.redes{
   
    text-align: center;
}

footer{
    background-color:  rgb(233, 246, 236); 
}


/* aplica a todos los div hijos del main (contenido principal) */
main>div{
    min-height: 180px;
    margin: 0.5rem; 

}

/* aplica a todos los asides hijos del main */
main>aside{
    min-height: 180px;
    min-width: 25%;
    margin: 0.5rem; 
}

.secciones{
  
    min-height: 50px;;
    margin: 0.5rem;
    
}

/* todo articulo dentro de clase secciones */
.secciones article{
    margin: 0.5rem;
    min-height: 20px;
}

article {
    padding: 10px;
}

                                    
img { height:351px; 
    width:351px
}
.nav{
    background: rgb(233, 246, 236);
    height: 100px;
    color: #258f23;
}
.navMenu a{
    max-width: 15vw;
    color: rgb(22, 26, 22);
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    transition: 0,4s;
}
.navMenu a:hover{
    color: #258f23;
}
.navContenedor{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: auto;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 100%;   
}

.navLabel, .navInput{
    display: none;
}
.navMenu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}



@media (max-width: 700px){
    .navLabel{
        font-size: 30px;
        display: block;
        cursor: pointer;

    }
    .navMenu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #96c895;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        
    }
    .navInput:checked + .navMenu{
        clip-path: circle(100% at center);
    }
    .secciones{
        flex-direction: column;
    }

    /* carrusel*/
.slider-frame img {
	object-fit: contain;
}

}


.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* seccion de cards*/

.descripcion{
    text-align: center justify;
    padding: 5px 25px;
    color: rgb(53, 53, 53);
}

.card{
    width: 100%; /* que ocupe todo el ancho*/
    display: flex; /*coloco las cards horizontalmente*/
    gap:50px; /* espacio entre las cards*/
    flex-wrap: wrap; /* cuando ya no entra la imagen card se coloca debajo (comporta responsive)*/
    justify-content: center;
    margin-top: 30px;
}
.card__perfil{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}
.card__perfil:hover{
    border: solid #258f23 2px;
    cursor: pointer;
}

.card__perfil img{
    width: 250px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #96c895;
    border-top: solid #96c895 4px;
    border-bottom: solid #96c895 4px;
}
.card__nombre{
    position: relative;
    display: flex; /* alinea horizontalmente al h2 */
    flex-direction: column; /*para lograr que el h2 quede debajo (vertical a imagen) */
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 4px;
    background: #96c895;
    margin: 20px 5px;
}
.card__button{
    text-align: center;
}
.enlace{
    background: #258f23;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}

.enlace:hover{
    background-color:#96c895;
    color: #258f23;
    font-weight: bold;
}

h2{
    text-align: center;
}

article{
    width: 100%; /* que ocupe todo el ancho*/
    display: flex; /*coloco las cards horizontalmente*/
    gap:50px; /* espacio entre las cards*/
    flex-wrap: wrap; /* cuando ya no entra la imagen card se coloca debajo (comporta responsive)*/
    justify-content: center;
    margin-top: 30px;
}
@media (max-width: 420px){
    body{background-color: #96c895;}
}